extends ../shared/template
block content
  .row
    .col-xs-2
    .col-xs-8.breathing-room
      .panel.panel-default
        .panel-heading: a(href='/users/'+user.email) From: #{message.sender.name}
        .panel-heading Date:
          span= moment(message.date).format('MMMM Do YYYY, hh:mm a')
        .well: p= message.body
    .col-xs-2
