extends ../shared/template
block content

  .row
    .col-xs-2
    .col-xs-6
      table
        thead
          th From
          th Date
          th Message
        tbody
          each message in messages
            tr
              td: a(href='/users/'+ user.email)= message.sender.name
              td= message.date
              td: a(href='/users/'+user._id+'/message/'+message._id) #{message.body.substring(0,9)}...
    .col-xs-2
