extends ../shared/template
block content

  .row#list
    .col-xs-1
    .col-xs-8.breathing-room
      table.table.table-horizontal
        thead
          th From
          th Date
          th Message
        tbody
          each message in messages
            tr(style='background-color:#{!message.isRead ? "rgb(44, 131, 44)" : ""};')
             td: a(href='/users/'+ user.email)= message.sender.name
             td= moment(message.date).format('MMMM Do YYYY, hh:mm a')
             td: a.message(href='/users/'+user._id+'/message/'+message._id) #{message.body.substring(0,10)}...
    .col-xs-1
